<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<meta name="PageSplit" content="SortLetter" />
	<meta name="image-width" content="300" />
	<meta name="image-height" content="420" />
	<meta name="keywords" content="Bookpedia, book collection, Books, Mac, Catalog" />
	<meta name="description" content="My book collection created using Bookpedia" />
	<meta name="author" content="Dan Friml, www.friml.com" />
	<meta name="robots" content="index, follow" />
	<title>[global:collectionName]</title>
	<script type="text/javascript" src="Images/js.js"></script>
	<link rel="stylesheet" href="Images/style.css" type="text/css" media="screen" charset="utf-8" />
</head>
<body id="pageTop">
<div id="whole">
	
<h1>[global:collectionName]</h1>

<div id="topInfo">
	<div id="topInfoL">	
		<strong>Updated:</strong> [global:dateUpdated]<br />
		<strong>Total number of titles:</strong> [global:totalEntries]
	</div>
	<div id="topInfoR">	
		<strong>Page number:</strong> [global:pageNumber]<br />
		<strong>Pages:</strong> [global:totalNumberOfPages]
	</div>
	<div class="clearBoth">&nbsp;</div>
</div>

<h2>[global:sortedBy] : [global:sortedEntry]</h2>

<div class="nav">
	<!--IFIndex <div class="index"> [Divider: | ] </div> ENDIndex-->
		<!--IF_PREVIOUS_PAGE <div class="prev"><a href="[global:previousPageURL]" >&laquo; Previous Page</a></div> END_PREVIOUS_PAGE-->
	<!--IF_NEXT_PAGE <div class="next"><a href="[global:nextPageURL]" >Next Page &raquo;</a></div>
	END_NEXT_PAGE-->	<div class="clearBoth">&nbsp;</div>
</div>
	
<!--BeginRepeat-->

<div class="album">

	<img class="albumBorder" src="Images/album-top.gif" />
	<div class="albumBG">
		<div class="albumInner">

	<div id="hideSmallCover[key:incrementalNumber]" class="albumCover" style="display: yes;">
		<a href="#" onclick="view('showCover[key:incrementalNumber]'); view('hideSmallCover[key:incrementalNumber]'); view('moveInfo[key:incrementalNumber]'); view('albumCenter[key:incrementalNumber]'); view('showCoverActive[key:incrementalNumber]'); return false;"><img src="[key:coverImageURL]" alt="Cover Zoom [+]" title="Cover Zoom [+]" /></a>
	</div><!-- albumCover //-->
	
	<div id="showCover[key:incrementalNumber]" class="coverWindow" style="display: none;">
		<a href="#" onclick="view('showCover[key:incrementalNumber]'); view('hideSmallCover[key:incrementalNumber]'); view('moveInfo[key:incrementalNumber]'); view('albumCenter[key:incrementalNumber]'); view('showCoverActive[key:incrementalNumber]'); return false;"><img src="[key:coverImageURL]" alt="Cover Zoom [-]" title="Cover Zoom [-]" /></a>
		<a class="closeWindow" href="#" onclick="view('showCover[key:incrementalNumber]'); view('hideSmallCover[key:incrementalNumber]'); view('moveInfo[key:incrementalNumber]'); view('albumCenter[key:incrementalNumber]'); view('showCoverActive[key:incrementalNumber]'); view('closeWindow[key:incrementalNumber]'); return false;"><img src="Images/m.gif" alt="" onmouseover="view('closeWindow[key:incrementalNumber]'); return false;" /><img id="closeWindow[key:incrementalNumber]" src="Images/closeWindow.gif" alt="Cover Zoom [-]" title="Cover Zoom [-]" style="display: none;" onmouseout="view('closeWindow[key:incrementalNumber]'); return false;" /></a>
	</div><!-- showCover[key:incrementalNumber] //-->

	<div class="albumRight">	
		<div class="innerLeft">
			
			<div id="moveInfo[key:incrementalNumber]" class="movedInfo" style="display: none;">	
				<p><strong class="artist">[key:author]&nbsp;</strong></p>
				<p>[key:title]&nbsp;</p>
				<!--IFpages<p>[key:pages] pages&nbsp;</p>ENDpages-->
				<img class="stars" src="Images/darkstar[key:myRating].png" />
				<p class="incrNum">(#[key:incrementalNumber])&nbsp;</p>
			</div><!-- albumCenter //-->
			
			<p><strong>[translate:releaseDate]:</strong> [key:releaseDate]</p>
			<p><strong>[translate:publisher]:</strong> [key:publisher]</p>
			<p><strong>[translate:genre]:</strong> [key:genre]</p>
			<p><strong>[translate:format]:</strong> [key:format]</p>
			<p><strong>[translate:dateAdded]:</strong> [key:dateAdded]</p>
		</div><!-- innerLeft //-->
		
		<div class="innerRight">
			<a class="m01" href="#pageTop"><img src="Images/m01.gif" alt="Back to top" title="Back to top" onmouseover="view('topActive[key:incrementalNumber]'); return false;" /><img id="topActive[key:incrementalNumber]" src="Images/m01x.gif" style="display: none;" alt="Back to top" title="Back to top" onmouseout="view('topActive[key:incrementalNumber]'); return false;" /></a>
			<a class="m02" href="#" onclick="view('cdInfo[key:incrementalNumber]'); view('cdInfoActive[key:incrementalNumber]'); return false;"><img src="Images/m02.gif" alt="Expanded Info" title="Expand Info" /><img id="cdInfoActive[key:incrementalNumber]" src="Images/m02x.gif" style="display: none;" alt="Collapse Info" title="Collapse Info" /></a>
			<a class="m03" href="#" onclick="view('showCover[key:incrementalNumber]'); view('hideSmallCover[key:incrementalNumber]'); view('moveInfo[key:incrementalNumber]'); view('albumCenter[key:incrementalNumber]'); view('showCoverActive[key:incrementalNumber]'); return false;"><img src="Images/m03.gif" alt="Cover Zoom [+]" title="Cover Zoom [+]" /><img id="showCoverActive[key:incrementalNumber]" src="Images/m03x.gif" style="display: none;" alt="Cover Zoom [-]" title="Cover Zoom [-]" /></a>
		</div><!-- innerRight //-->
		<div class="clearBoth">&nbsp;</div>
	</div><!-- albumLeft //-->

	<div id="albumCenter[key:incrementalNumber]" class="albumCenter" style="display: yes;">	
		<p><strong class="artist">[key:author]&nbsp;</strong></p>
		<p>[key:title]&nbsp;</p>
		<!--IFpages<p>[key:pages] pages&nbsp;</p>ENDpages-->
		<img class="stars" src="Images/darkstar[key:myRating].png" />
		<p class="incrNum">(#[key:incrementalNumber])&nbsp;</p>
	</div><!-- albumCenter //-->
	<div class="clearBoth">&nbsp;</div>
	
	<div id="cdInfo[key:incrementalNumber]" class="cdInfo" style="display: none;">
		<img class="albumLine" src="Images/line.gif" />
		<div class="tracklist">
		<br />
			<strong>[translate:subjects]</strong><br />[key:subjects]
		</div><!-- tracklist //-->
		<div class="moreInfo">
			<div class="inner">
				<!--IFprice<p><strong>[translate:price]:</strong> [key:price]</p>ENDprice-->
				<!--IFedition<p><strong>[translate:edition]:</strong> [key:edition]</p>ENDedition-->
				<p><strong>ISBN:</strong> [key:isbn]</p>
				<!--IFcomments<p><strong>[translate:comments]:</strong> [key:comments]</p> ENDcomments-->
				<p><strong>[translate:summary]:</strong> [key:summary]</p>
			</div><!-- inner //-->
		</div><!-- moreInfo //-->
		<div class="clearBoth">&nbsp;</div>
	</div><!-- cdInfo[key:incrementalNumber] //-->

		</div><!-- albumInner //-->
	</div><!-- albumBG //-->
	<img class="albumBorder" src="Images/album-bottom.gif" />

</div><!-- album //-->
<!--EndRepeat-->

<div class="nav">
	<!--IF_PREVIOUS_PAGE <div class="prev"><a href="[global:previousPageURL]" >&laquo; Previous Page</a></div> END_PREVIOUS_PAGE-->
	<!--IF_NEXT_PAGE <div class="next"><a href="[global:nextPageURL]" >Next Page &raquo;</a></div>
	END_NEXT_PAGE-->
	<!--IFIndex <div class="index"> [Divider: | ] </div> ENDIndex-->
</div>

<div id="footer">
	created using <a title="Bruji - A Mac's best friend" href="http://www.bruji.com/" onclick="window.open(this.href); return false"><strong>Bookpedia</strong></a> &middot;&middot;&middot;
	template designed by <a title="Dan Friml - Professional design" href="http://www.friml.com/" onclick="window.open(this.href); return false"><strong>dan.friml.com</strong></a>
	<span id="version">df.Metal.Box v1.0 &copy; 2007</span>
</div>

</div>
</body>
</html>
