<!-- FancyIndexDetails page for Bookpedia -->
<meta name="PageSplit" content="1" />
<meta name="image-export" content="yes" />
<meta name="image-compression" content="0.8" />
<meta name="image-height" content="240" />
<meta name="image-width" content="240" />
<meta name="date-format" content="yyyy-MM-dd" />
<meta name="uidNaming" content="yes" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />

<!--BeginRepeat-->
<div class="cbcontent">
	<table style="width: 918px;">
		<tr>
			<td colspan="2" class="cbheader">
				<span class="cbtitle-bp">[key:title]</span>
				<!--IFauthor <br /><span class="cbsubsubtitle cbsubsubtitle-bp">[key:author]</span> ENDauthor-->
				<span class="cbstars"><img src="Images/whitestar[key:myRating].png" />&nbsp;</span>
			</td>
		</tr>
		<tr>
			<td class="cbcol1 cen">
				<img src="details/[key:coverImageURL]" id="cbcoverimg" alt="[key:title] Image Cover" height="[key:coverImageURLHeight]" width="[key:coverImageURLWidth]" /><br />
				<a class="cenm" href="http://images.google.com/images?q=[key:title]" target="_blank">Additional Images</a>
				<!--IFborrowedBy
				<div class="cbborrowed">
					<div><span class="cbtrans">[translate:borrowedBy]:</span><br />[key:borrowedBy]</div>
					<div><span class="cbtrans">[translate:borrowedOn]:</span><br />[key:borrowedOn]</div>
					<div><span class="cbtrans">[translate:dueDate]:</span><br />[key:dueDate]</div>
				</div>
				ENDborrowedBy-->
			</td>
			<td class="cbcol2">
				<div class="cbdata cbdatacol1">
					<table>
						<!--IFpublisher <tr><td class="cbtrans">[translate:publisher]:</td><td class="cbkeys">[key:publisher]</td></tr> ENDpublisher-->
						<!--IFeditor <tr><td class="cbtrans">[translate:editor]:</td><td class="cbkeys">[key:editor]</td></tr> ENDeditor-->
						<!--IFillustrator <tr><td class="cbtrans">[translate:illustrator]:</td><td class="cbkeys">[key:illustrator]</td></tr> ENDillustrator-->
						<!--IFtranslator <tr><td class="cbtrans">[translate:translator]:</td><td class="cbkeys">[key:translator]</td></tr> ENDtranslator-->
						<!--IFplacePublished <tr><td class="cbtrans">[translate:placePublished]:</td><td class="cbkeys">[key:placePublished]</td></tr> ENDplacePublished-->
						<!--IFgenre <tr><td class="cbtrans">[translate:genre]:</td><td class="cbkeys">[key:genre]</td></tr> ENDgenre-->
						<!--IFseries <tr><td class="cbtrans">[translate:series]:</td><td class="cbkeys">[key:series]</td></tr> ENDseries-->
						<!--IFpages <tr><td class="cbtrans">[translate:pages]:</td><td class="cbkeys">[key:pages]</td></tr> ENDpages-->
						<!--IFcollectionID <tr><td class="cbtrans">[translate:collectionID]:</td><td class="cbkeys">[key:collectionID]</td></tr> ENDcollectionID-->
						<!--IFasin <tr><td class="cbtrans">[translate:asin]:</td><td class="cbkeys"><a href="http://www.amazon.com/dp/[key:asin]" target="_blank">[key:asin]</a></td></tr> ENDasin-->
						<!--IFisbn <tr><td class="cbtrans">[translate:isbn]:</td><td class="cbkeys"><a href="http://isbndb.com/search-all.html?kw=[key:isbn]" target="_blank">[key:isbn]</a></td></tr> ENDisbn-->
						<!--IFdewey <tr><td class="cbtrans">[translate:dewey]:</td><td class="cbkeys">[key:dewey]</td></tr> ENDdewey-->
						<!--IFlcc <tr><td class="cbtrans">[translate:lcc]:</td><td class="cbkeys">[key:lcc]</td></tr> ENDlcc-->
					</table>
				</div>
				<div class="cbdata cbdatacol2">				
					<table>
						<!--IFformat <tr><td class="cbtrans">[translate:format]:</td><td class="cbkeys">[key:format]</td></tr> ENDformat-->
						<!--IFedition <tr><td class="cbtrans">[translate:edition]:</td><td class="cbkeys">[key:edition]</td></tr> ENDedition-->
						<!--IFcondition <tr><td class="cbtrans">[translate:condition]:</td><td class="cbkeys">[key:condition]</td></tr> ENDcondition-->
						<!--IFreleaseDate <tr><td class="cbtrans">[translate:releaseDate]:</td><td class="cbkeys">[key:releaseDate]</td></tr> ENDreleaseDate-->
						<!--IFawards <tr><td class="cbtrans">[translate:awards]:</td><td class="cbkeys">[key:awards]</td></tr> ENDawards-->
						<!--IFsigned <tr><td class="cbtrans">[translate:signed]:</td><td class="cbkeys">[key:signed]</td></tr> ENDsigned-->
						<!--IFchildren <tr><td class="cbtrans">[translate:children]:</td><td class="cbkeys">[key:children]</td></tr> ENDchildren-->
						<!--IFdimensions <tr><td class="cbtrans">[translate:dimensions]:</td><td class="cbkeys">[key:dimensions]</td></tr> ENDdimensions-->
						<!--IFlocation <tr><td class="cbtrans">[translate:location]:</td><td class="cbkeys">[key:location]</td></tr> ENDlocation-->
						<!--IFlastRead <tr><td class="cbtrans">[translate:lastRead]:</td><td class="cbkeys">[key:lastRead]</td></tr> ENDlastRead-->
						<!--IFpageMark <tr><td class="cbtrans">[translate:pageMark]:</td><td class="cbkeys">[key:pageMark]</td></tr> ENDpageMark-->
						<!--IFpurchasedAt <tr><td class="cbtrans">[translate:purchasedAt]:</td><td class="cbkeys">[key:purchasedAt]</td></tr> ENDpurchasedAt-->
						<!--IFpurchasedOn <tr><td class="cbtrans">[translate:purchasedOn]:</td><td class="cbkeys">[key:purchasedOn]</td></tr> ENDpurchasedOn-->
						<!--IFdateAdded <tr><td class="cbtrans">[translate:dateAdded]:</td><td class="cbkeys">[key:dateAdded]</td></tr> ENDdateAdded-->
						<!--IFpaid <tr><td class="cbtrans">[translate:paid]:</td><td class="cbkeys">[key:paid]</td></tr> ENDpaid-->
						<!--IFprice <tr><td class="cbtrans">[translate:price]:</td><td class="cbkeys">[key:price]</td></tr> ENDprice-->
						<!--IFgift <tr><td class="cbtrans">[translate:gift]:</td><td class="cbkeys">[key:gift]</td></tr> ENDgift-->
						<!--IFrating <tr><td class="cbtrans">[translate:rating]:</td><td class="cbkeys">[key:rating]</td></tr> ENDrating-->
						<!--IFplacedForSaleAt <tr><td class="cbtrans">[translate:placedForSaleAt]:</td><td class="cbkeys">[key:placedForSaleAt]</td></tr> ENDplacedForSaleAt-->
						<!--IFaskingPrice <tr><td class="cbtrans">[translate:askingPrice]:</td><td class="cbkeys">[key:askingPrice]</td></tr> ENDaskingPrice-->
						<!--IFsoldOn <tr><td class="cbtrans">[translate:soldOn]:</td><td class="cbkeys">[key:soldOn]</td></tr> ENDsoldOn-->
						<!--IFbuyerName <tr><td class="cbtrans">[translate:buyerName]:</td><td class="cbkeys">[key:buyerName]</td></tr> ENDbuyerName-->
						<!--IFcustom1 <tr><td class="cbtrans">[translate:custom1]:</td><td class="cbkeys">[key:custom1]</td></tr> ENDcustom1-->
						<!--IFcustom2 <tr><td class="cbtrans">[translate:custom2]:</td><td class="cbkeys">[key:custom2]</td></tr> ENDcustom2-->
						<!--IFcustom3 <tr><td class="cbtrans">[translate:custom3]:</td><td class="cbkeys">[key:custom3]</td></tr> ENDcustom3-->
						<!--IFcustom4 <tr><td class="cbtrans">[translate:custom4]:</td><td class="cbkeys">[key:custom4]</td></tr> ENDcustom4-->
						<!--IFcustom5 <tr><td class="cbtrans">[translate:custom5]:</td><td class="cbkeys">[key:custom5]</td></tr> ENDcustom5-->
						<!--IFcustom6 <tr><td class="cbtrans">[translate:custom6]:</td><td class="cbkeys">[key:custom6]</td></tr> ENDcustom6-->
						<!--IFcustom7 <tr><td class="cbtrans">[translate:custom7]:</td><td class="cbkeys">[key:custom7]</td></tr> ENDcustom7-->
						<!--IFcustom8 <tr><td class="cbtrans">[translate:custom8]:</td><td class="cbkeys">[key:custom8]</td></tr> ENDcustom8-->
						<!--IFcustom9 <tr><td class="cbtrans">[translate:custom9]:</td><td class="cbkeys">[key:custom9]</td></tr> ENDcustom9-->
						<!--IFcustom10 <tr><td class="cbtrans">[translate:custom10]:</td><td class="cbkeys">[key:custom10]</td></tr> ENDcustom10-->
					</table>
				</div>
				<div class="cbsummary">
					<!--IFtags <span class="cbtrans">[translate:tags]:</span> [key:tags]<br /><br /> ENDtags-->
					<!--IFcomments <span class="cbtrans">[translate:comments]:</span> [key:comments]<br /><br /> ENDcomments-->
					<!--IFnotes <span class="cbtrans">[translate:notes]:</span> [key:notes]<br /><br /> ENDnotes-->					
					<span class="cbtrans">[translate:summary]:</span> [key:summary]
				</div>
				<br clear="all" /><br />
				<div class="cen">
					<!--IFamazonLink<a href="[key:amazonLink]" target="_blank">Additional Information</a> - ENDamazonLink--><a href="http://www.amazon.com/s/ref=nb_ss?url=search-alias%3Dstripbooks&field-keywords=[key:title]" target="_blank">Buy on Amazon</a>
				</div>
			</td>
		</tr>
	</table>
</div>
					
<!--EndRepeat-->