#filter, #search, #index, .credits {
	display: none;
}

.content, table.tablesorter {
	float: none;
	margin: 0;
	width: 100%;
}

table {
	border-collapse: collapse;
}

tr, #summarytd, #table, thead {
	border: solid 1px #dddddd;
}

table.tablesorter tbody td {
	padding: 1px;
}

table.tablesorter tbody tr div {
	max-height: none;
	padding: 0;
}

a {
	color: none;
	text-decoration: none;
}

@page {
	size: landscape;
}