body {
	font-family: "Lucida Grande", Verdana, Arial, Tahoma, sans-serif;
	font-size: 0.7em;
	line-height: 1.4em;
	margin: 0px;
	padding: 0px;
	border: 0;
	color: #333333;
	text-align: center;
	background-color: #989898;
	background-image: url("../Images/metal.png");
	height: 100%;
}
html {
	height: 100%;
	border: 0;
}
/* Links */
a:link, a:visited {
	color: #000000;
	text-decoration: none;
}
a:hover {
	color: #ffffff;
	text-decoration: none;
}
:link img, :visited img {
	border: 0 none inherit;
}

/* Image border */
img {
	border: 0 none !important;
}

p {
	margin: 0em;
	padding: 0em 0em 0.2em 0em;
	text-align: justify;
}

h1 {
	position: absolute;
	width: 770px;
	line-height: 120%;
	margin: -10px 0em 0em 0em;
	padding: 0em;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 400%;
	letter-spacing: -2px;
	text-transform: lowercase;
	text-align: center;

}
h2 {
	margin: 0.5em 0em 0.5em 0em;
	padding: 0em;
	color: #f1f1f1;
	font-size: 120%;
	text-align: center;
}

/* Clear */
.clearBoth {
    clear: both;
	height: 0.01em;
	font-size: 0.01em;
	line-height: 0.01em;
}
#whole {
	position: relative;
	width: 770px;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	z-index: 100;
}
#topInfo {
	width: 770px;
	margin: 0em 0em 0em 0em;
	padding: 1em 0em 0em 0em;
	z-index: 999;
}
#topInfoL {
	width: 350px;
	float: left;
	text-align: left;
}
#topInfoR {
	width: 350px;
	float: right;
	text-align: right;
}
.nav {
	width: 770px;
	margin: 1em 0em 1em 0em;
	color: #666666;
	text-align: center;
}
.index {
	width: 770px;
	margin: 0em 0em 0.5em 0em;
	text-align: center;
	clear: both;
}
.prev {
	width: 350px;
	float: left;
	text-align: left;
	font-weight: bold;
}
.next {
	width: 350px;
	float: right;
	text-align: right;
	font-weight: bold;
}
.album {
	position: relative;
	width: 770px;
	margin: 0em 0em 1em 0em;
	clear: both;
}
img.albumBorder {
	width: 770px;
	height: 10px;
	display: block;
	clear: both;
}
.albumBG {
	background-image: url("../Images/albumBG.gif");
	background-repeat: repeat-y;
}
.albumInner {
	position: relative;
	width: 770px;
	_height: 75px;
	min-height: 75px;
	background-image: url("../Images/album-body.gif");
	background-repeat: no-repeat;
}
.albumCover {
	width: 85px;
	height: 100px;
	float: left;
}
.albumCover img {
	width: 75px;
	height: 100px;
	margin: 0px 0px 0px 10px;
	display: block;
}
.coverWindow {
	position: relative;
	float: left;
	width: 300px;
	height: 443px;
	left: 10px;
	top: 0px;
	background-image: url("../Images/coverWindow.gif");
	background-repeat: no-repeat;
	z-index: 1000;
}
.coverWindow img {
	position: absolute;
	left: 1px;
	top: 23px;
	width: 298px;
	height: 419px;
	display: block;
}
.closeWindow {
	position: absolute;
	left: 7px;
	top: 5px;
	width: 16px;
	height: 17px;
	display: block;
}
.closeWindow img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 16px;
	height: 17px;
	display: block;
}
.movedInfo {
	padding: 0em 0em 2em 0em;
}
.albumCenter {
	width: 330px;
	margin-left: 100px;
}
.albumRight {
	width: 330px;
	float: right;
}
.innerLeft {
	width: 285px;
	float: left;
}
.innerRight {
	position: relative;
	width: 30px;
	float: right;
}

.innerRight a {
	display: block;
}
.innerRight a img {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 30px;
	height: 21px;
	display: block;
}
.m01 {
	position: absolute;
	width: 30px;
	height: 21px;
	top: 7px;
	left: 0px;
}
.m02 {
	position: absolute;
	width: 30px;
	height: 21px;
	top: 28px;
	left: 0px;
}
.m03 {
	position: absolute;
	width: 30px;
	height: 21px;
	top: 49px;
	left: 0px;
}

.incrNum {
	color: #f1f1f1;
}
.artist {
	color: #000000;
}
img.stars {
	display: block;
}
img.albumLine {
	position: relative;
	top: 10px;
	left: 0px;
	width: 770px;
	height: 2px;
	margin: 0em;
	display: block;
}
.cdInfo {
	clear: both;
}

.tracklist
{
	width: 370px;
	float: left;
	margin: 0em 0em 0em 10px;
}
.tracklist ol {
	list-style-type: none;
	margin-top: 10px;
	margin-bottom: 0em;
	padding-top: 10px;
	padding-bottom: 5px;
}
.moreInfo {
	width: 330px;
	float: right;
	margin: 10px 0em 0em 0em;
	padding: 10px 0em 0em 0em;
}
.inner {
	margin-right: 15px;
}

#footer {
	width: 770px;
	height: 30px;
	color: #f1f1f1;
	text-align: center;
	padding: 1em 0em 1em 0em;
}
#footer a:link, #footer a:visited {
	color: #ffffff;
	text-decoration: none;
}
#footer a:hover {
	color: #000000;
	text-decoration: none;
}
span#version {
	display: block;
	font-weight: bold;
	color: #666666;
	padding: 0.2em;
}